<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2015 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.

	This file contains two configurations:
		
		"LoadBalancing"
				Loadbalanced setup for local development: A Master-server and a game-server.
				Starts the apps: Game, Master, CounterPublisher
				Listens: udp-port 5055, tcp-port: 4530, 843 and 943		
	
-->

<Configuration>
	<!-- Multiple instances are supported. Each instance has its own node in the config file. -->
  
  <ChatServer DisplayName="Chat Server">
    <TCPListeners>
      <TCPListener
          IPAddress="0.0.0.0"
          Port="4530"
          OverrideApplication="ChatServer"
            >
      </TCPListener>
    </TCPListeners>
    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
        Assembly="PhotonHostRuntime, Culture=neutral"
        Type="PhotonHostRuntime.PhotonDomainManager"
        UnhandledExceptionPolicy="Ignore">
    </Runtime>
    <!-- other elements -->
    <Applications Default="ChatServer">
      <Application
          Name="ChatServer"
          BaseDirectory="ChatServer"
          Assembly="ChatServer"
          Type="ChatServer">
      </Application>
      <!-- any other applications -->
    </Applications>
    <!-- other elements -->
  </ChatServer>
  
</Configuration>
